<div @endgamePopupAnimationTrigger id="popupOverlayElement">
    <div class="popup-container">
        <div class="popup" *ngIf="game.youWin()">
            <div class="header" (click)="closeHelp()">
                <mat-icon>highlight_off</mat-icon>
            </div>
            <div class="title">
                Gratulacje!
            </div>
            <div class="text">
                Odgadnięte hasło to:
            </div>
            <app-row [guess]="this.solution" [flatness]="'minimal'"></app-row>
            <div class="text sjp-link">
                Sprawdź znaczenie słowa na <a href="{{dictLink}}" target="_blank">{{dictLink}}</a>
            </div>
            <div class="text attempts">
                Liczba prób: {{game.currentGuessNumber - 1}}
                <br>
                Podpowiedzi: {{game.hintUsed}}
            </div>
            <div class="text">
                Wróć po <b>{{this.game.nextBrykleHour()}}</b> i zmierz się z kolejnym słowem!
            </div>
            <button class="share-button" [cdkCopyToClipboard]="result.share()" (click)="onClick()">
                Udostępnij
            </button>
            <div class="footer">Autor: Rafał Bryk</div>
        </div>
        <div class="popup" *ngIf="!game.youWin()">
            <div class="header" (click)="closeHelp()">
                <mat-icon>highlight_off</mat-icon>
            </div>
            <div class="title">
                Niestety ...
            </div>
            <div class="text">
                Poprawne hasło to:
            </div>
            <app-row [guess]="this.solution" [flatness]="'minimal'"></app-row>
            <div class="text sjp-link">
                Sprawdź znaczenie słowa na <a href="{{dictLink}}" target="_blank">{{dictLink}}</a>
            </div>
            <div class="text">
                Wróć po <b>{{this.game.nextBrykleHour()}}</b> i zmierz się z kolejnym słowem, na pewno pójdzie Ci lepiej :-)
            </div>
            <button class="share-button" [cdkCopyToClipboard]="result.share()" (click)="onClick()">
                Udostępnij
            </button>
            <div class="footer">Autor: Rafał Bryk</div>
        </div>
    </div>
</div>
