.header {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbbbbb;
    margin: 0px 10px;
  }

  .center-text {
    .title {
      text-transform: uppercase;
      font-size: 42px;
      font-weight: 700;
      margin-bottom: -10px;
      margin-top: -10px;
    }

    .subtitle {
      font-size: 10px;
    }
  }

}


