#snackbar {
  width: 220px; /* Set a default minimum width */
  margin-left: -120px; /* Divide value of min-width by 2 */
  left: auto;
  right: auto;
  background-color: #222222;
  border: 1px solid #cccccc;
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 4px; /* Rounded borders */
  padding: 10px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 40%; /* 30px from the bottom */
  box-shadow: 0 0 7px 7px black;
}
