<div class="keyboard">
    <div *ngFor="let keyboardRow of keyboardKeys; index as rowNum" class="keyboardRow">
        <app-keyboard-key *ngIf="rowNum === 2" (keyClicked)='onKeyClicked($event)' class="keyboardKeyCell wide" key='OK'></app-keyboard-key>
        <app-keyboard-key *ngFor="let keyChar of keyboardRow" (keyClicked)='onKeyClicked($event)' class="keyboardKeyCell" [key]="keyChar"></app-keyboard-key>
        <app-keyboard-key *ngIf="rowNum === 2" (keyClicked)='onKeyClicked($event)' class="keyboardKeyCell wide" key='<<'></app-keyboard-key>
    </div>
</div>
