    <div class="keyboard">
        <div class="keyboardRow">
            <app-keyboard-key key='Q' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='W' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='E' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='R' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='T' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='Y' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='U' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='I' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='O' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='P' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
        </div>
        <div class="keyboardRow">
            <app-keyboard-key key='A' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='S' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='D' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='F' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='G' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='H' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='J' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='K' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='L' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
        </div>
        <div class="keyboardRow">
            <app-keyboard-key key='OK' class="keyboardKeyCell wide" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='Z' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='X' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='C' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='V' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='B' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='N' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='M' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='<<' class="keyboardKeyCell wide" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
        </div>
        <div class="keyboardRow">
            <app-keyboard-key key='Ą' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='Ę' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='Ł' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='Ś' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='Ć' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='Ś' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='Ż' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
            <app-keyboard-key key='Ź' class="keyboardKeyCell" [game]='game' (keyClicked)='onKeyClicked($event)'></app-keyboard-key>
        </div>
    </div>
