.tile {
  width: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: var(--tile-text-color);
  text-transform: uppercase;
  margin: 2px;
  color: #eeeeee;
}

.flat {
  height: 35px;
}

.normal {
  height: 50px;
}

.state-none {
  background-color: #888888;
}

.state-miss {
  background-color: #333333;
}

.state-partial {
  background-color: darkgoldenrod;
}

.state-match {
  background-color: #1976d2;
}
